* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    margin: 0;
}

ul, li {
    list-style: none;
    margin: 0%;
    padding: 0;
}

li {
    border: 1px solid rgb(207, 207, 207);
}

.container {
    background-color: #fff;
    flex: 0 0 20%;
    display: flex;
    flex-direction: column;
}

.container-maria {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-user {
    display: flex;
    flex-direction: column;
    
}
.first-paragraph {
    margin-bottom: 1%;
}
.second-paragraph {
    color: #b1b1b1;
    margin-top: 0%;
}


/* Boton  */
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

button {
    background-color: #c3a5cc;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
}

/* Contactos  */
.info-user {
    display: flex;
    align-items: center;
    padding-left: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.info-user p {
    display: flex;
    padding-left: 15px;
    margin: 0;
}

.contact-img {
    display: flex;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 5px;
}

div i{
    padding-right: 1em;
    color: rgb(190, 190, 190);
}

.container-user {
    display: flex;
    padding:0 25px;
}

/* Principal*/
.container-main {
    display: flex;
    justify-content: center;
    align-items:center;
    min-height: 100vh;
    background-color: #e8ebe4;
    flex-basis: 80%;
}

.content {
    max-width: 400px; 
  }

.content p {
    text-align: justify;
    text-align-last: center;
}

.content img {
    max-width: 60%;
    height: auto;
    display: block;
    margin: 0 auto;
}
